{% extends 'geekshop/base.html' %}
{% load static %}

{% block js %}
<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script type="text/javascript" src="{% static 'basketapp/script.js' %}"></script>
{% endblock %}

{% block style %}
	<link rel="stylesheet" type="text/css" href="{% static '/geekshop/style.css' %}">
{% endblock %}

{% block content %}
<div class="hero">
    {% include 'geekshop/includes/inc_main_menu.html' %}
    <h1>Корзина</h1>
</div>
    {% if user.is_authenticated %}
        <div class="container">
            {% include 'basketapp/includes/inc_basket_list.html' %}
        </div>
{% endif %}
{% endblock %}
