{% extends 'geekshop/base.html' %}
{% load static %}

{% block style %}
	<link rel="stylesheet" type="text/css" href="{% static '/geekshop/style.css' %}">
{% endblock %}

{% block content %}
<div class="hero-white">
	{% include 'geekshop/includes/inc_main_menu.html' %}
</div>

<div class="details">
	<div class="links clearfix">
		<ul class="links-menu">
		<li>
			<a href="{% url 'products:products' 0 %}" class="{% if request.resolver_match.kwargs.pk == '0' %} active {% endif %}">все</a>
		</li>
			{% for link in links_menu %}
				<li><a href="{% url 'products:products' pk=link.pk as current_url %}" class="{% if request.resolver_match.kwargs.pk == link.pk %} active {% endif %}">{{link.name}}</a></li>
			{% endfor %}
		</ul>
	</div>

	<div class="details-products">
		<div class="details-slider">
			<div class="slider-product">
				<img src="/media/{{ hot_product.image }}" class="w-75">
			</div>
			<div class="slider-control">
				<div class="block">
					<a href="#"><img src="/media/{{ hot_product.image }}" class="w-100" alt="">
						<div class="text"></div>
					</a>
				</div>
				<div class="block">
					<a href="#"><img src="/media/{{ hot_product.image }}" class="w-100" alt="">
						<div class="text"></div>
					</a>
				</div>
				<div class="block">
					<a href="#"><img src="/media/{{ hot_product.image }}" class="w-100" alt="">
						<div class="text"></div>
					</a>
				</div>
			</div>
		</div>

		<div class="description">
			<h3 class="big-bold">{{ hot_product.name }}</h3>
			<h3 class="red">горячее предложение</h3>
			<p class="price">{{ hot_product.price }}<span>руб</span></p>
			<a href="{#% url 'basket:add' hot_product.pk %#}" class="red-button">
				заказать <i class="fa fa-chevron-right" aria-hidden="true"></i>
			</a>
			<div class="description-text">
				<p>{{ hot_product.description }}</p>
			</div>
		</div>
	</div>

	<div>
		{% if category %}
		<h2>Категория: {{ category.name|title }}</h2>
		{% endif %}
	</div>

	<div class="paginator">
		{% if products.has_previous %}
			<a href="{% url 'products:page' category.pk products.previous_page_number %}"> < </a>
		{% endif %}

		<span class="current">страница {{ products.number }} из {{ products.paginator.num_pages }}</span>

		{% if products.has_next %}
            <a href="{% url 'products:page' category.pk products.next_page_number %}"> > </a>
		{% endif %}
	</div>

	<div class="products_category">
		{% for product in products %}
		<div class="block w-25 my-3 mx-3">
			<a href="{% url 'basket:add' product.pk %}">
			<img src="/media/{{ product.image }}" alt="{{ product.short_desc }}">
				<div class="text">
					<img src="{% static '/img/icon-hover.png' %}" alt="hover">
					<h4>{{ product.name }}</h4>
					<p>{{ product.description }}</p>
				</div>
			</a>
		</div>
		{% endfor %}
	</div>

	<div class="related">
		<div class="title clearfix">
			<h2>Похожие продукты</h2>
			<a class="explore" href="#">показать все <img src="/static/img/arrow.png" alt=""></a>
		</div>
		<div class="related-products clearfix">
			{% for product in same_products %}
				<div class="block">
					<a href="#"><img src="/media/{{ same_products.image }}" alt="{{ same_products.short_desc }}">
						<div class="text">
							<img src="/media/{{ same_products.image }}" class="w-10" alt="img">
							<h4>{{ same_products.name }}</h4>
							<p>{{ same_products.short_desc }}</p>
						</div>
					</a>
				</div>
			{% endfor %}
		</div>
	</div>
</div>
{% endblock %}
